<?xml version="1.0"?>
<launch>

	<!-- Simulate (mockup, hack) action feedback for testing purposes -->
	<!-- DOMAIN: turtlebot with open door capability -->

	<include file="$(find rosplan_planning_system)/launch/includes/simulated_action.launch" >
		<arg name="pddl_action_name" value="goto_waypoint" />
		<arg name="action_duration" default="1.0" />
		<arg name="action_probability" default="1.0" /> <!-- always succeed -->
	</include>

	<include file="$(find rosplan_planning_system)/launch/includes/simulated_action.launch" >
		<arg name="pddl_action_name" value="open_door" />
		<arg name="action_duration" default="2.0" />
		<arg name="action_probability" default="1.0" /> <!-- always succeed -->
	</include>
    
</launch>
