<?xml version="1.0"?>
<launch>

    <!-- only plan parsing (from file) and dispatch for esterel debugging purposes -->

    <!-- input domain and problem definition here -->
    <arg name="domain" default="turtlebot" />
    <arg name="problem" default="sequential" /> <!-- what you are aiming to test/debug -->
    <arg name="instance" default="problem" /> <!-- name of the problem.pddl file (without the .pddl) -->
    <arg name="base_path" default="$(find rpd_pddl_examples)/common/pddl/$(arg domain)/$(arg problem)" />

    <!-- plan dispatch required components -->
    <include file="$(find rpd_esterel_debug_tools)/ros/launch/parse_dispatch_required_components.launch">
        <arg name="domain" value="$(arg domain)" />
        <arg name="problem" value="$(arg problem)" />
        <arg name="instance" value="$(arg instance)" />
    </include>

    <!-- run script for parsing / dispatching plan -->
    <node pkg="rpd_esterel_debug_tools" type="parse.bash" name="parse_and_dispatch"
          output="screen" args="$(arg base_path)/$(arg instance).plan" />

</launch>
