<?xml version="1.0"?>
<launch>

    <!-- domain fixed to roomba but problem you can override with this arg -->
    <arg name="domain" default="roomba" />
    <arg name="problem" default="clean_all_rooms" />

    <include file="$(find rpd_esterel_debug_tools)/ros/launch/parse_and_dispatch.launch" >
        <arg name="domain" value="$(arg domain)" />
        <arg name="problem" value="$(arg problem)" />
    </include>

    <!-- simulate actions -->
    <include file="$(find rpd_pddl_examples)/ros/launch/sim_actions/sim_actions_$(arg domain).launch" />

</launch>
