<?xml version="1.0"?>
<launch>

    <!-- NOTE: Parse only, do not dispatch actions -->

    <!-- domain fixed to turtlebot but problem you can override with this arg -->
    <arg name="domain" default="turtlebot_open_door" />
    <arg name="problem" default="simple_open_door" />

    <!-- parse only, do not dispatch actions -->
    <include file="$(find rpd_esterel_debug_tools)/ros/launch/parse.launch" >
        <arg name="domain" value="$(arg domain)" />
        <arg name="problem" value="$(arg problem)" />
    </include>

</launch>
