<?xml version="1.0"?>
<launch>

    <!-- domain fixed to turtlebot but problem you can override with this arg -->
    <arg name="problem" default="sequential" /> <!-- options: concurrent, sequential -->

    <include file="$(find rpd_esterel_debug_tools)/ros/launch/parse_and_dispatch.launch" >
        <arg name="domain" default="turtlebot" />
        <arg name="problem" default="$(arg problem)" />
    </include>

</launch>
