<?xml version="1.0"?>
<launch>

    <!-- domain fixed to turtlebot but problem you can override with this arg -->
    <arg name="domain" default="turtlebot" />
    <arg name="problem" default="sequential" /> <!-- options: concurrent, sequential -->

    <include file="$(find rpd_esterel_debug_tools)/ros/launch/parse_and_dispatch.launch" >
        <arg name="domain" default="$(arg domain)" />
        <arg name="problem" default="$(arg problem)" />
    </include>

    <!-- simulate actions -->
    <include file="$(find rpd_pddl_examples)/ros/launch/sim_actions/sim_actions_$(arg domain).launch" />

</launch>
